---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = 'My Astro learning blog';
---

<BaseLayout pageTitle={pageTitle}>

		<h1>Blog</h1>
		<h2>...</h2>
        <p>Here is some posts:</p>
        <ul>
            {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
        </ul>

		<script>
			import "../scripts/menu.js";
		</script>
</BaseLayout>
